@import 'src/common/color-variables';
@import 'src/common/utils';

.text {
  font-size: 1.125rem;
  font-weight: 500;
  color: $dark-cyan-300;
}

.bar {
  width: 100%;
  height: 10px;
  border-radius: 50px;
  background-color: $dark-cyan-100-1;
  position: relative;

  .percent {
    height: 100%;
    border-radius: 99px;
    background-color: $cyan;
  }

  .text-percent {
    position: absolute;
    font-size: 0.75rem;
    color: $dark-cyan-100-8;
    right: 0;
    top: 0;
    @include translateX(-100%);
    @include translateY(-100%);
  }

  .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $white;
    outline: solid 3px $cyan;
    position: absolute;
    top: 0;
    @include translateX(-50%);
  }
}
