@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Open+Sans:400,600,700&display=swap');
@import 'color-variables';
@import 'responsive';
@import 'utils';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 14px;

  @include md {
    font-size: 16px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  object-fit: cover;
}

a {
  text-decoration: none;
}

.bg-secondary {
  background-color: $color-dark-cyan-300;
}

.bg-light {
  background-color: $color-light-300;
}

.text-cyan {
  color: $color-cyan-700;
}

.text-dark-cyan-100 {
  color: $color-dark-cyan-100;
}

