<section class="header_area">
  <div class="header_nav">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">
              <img
                src="assets/images/tranbaquan.me-light.svg"
                alt="tranbaquan.me"
              />
            </a>
            <button
              type="button"
              class="icon-btn d-lg-none"
              (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed"
              aria-controls="menu"
            >
              <fa-icon
                [icon]="isCollapsed ? menuIcon : closeIcon"
                size="sm"
              ></fa-icon>
            </button>
            <div
              class="collapse navbar-collapse"
              [collapse]="isCollapsed"
              [isAnimated]="true"
              id="menu"
            >
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="page-scroll" href="#home">Home<span></span></a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#about">About<span></span></a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#skill">Services<span></span></a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#skill"
                  >Portfolio<span></span
                  ></a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#work"
                  >Experience<span></span
                  ></a>
                </li>
                <li class="nav-item">
                  <a class="page-scroll" href="#skill">Contact<span></span></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<qtprofile-home></qtprofile-home>
