<section class="navbar-section">
  <div class="navbar-container w-100" [class.fixed]="isScrolled">
    <div class="container">
      <div class="row m-auto">
        <nav class="navbar navbar-expand-lg justify-content-between">
          <a class="navbar-brand" href="#">
            <img src="assets/images/tranbaquan.me-light.svg" alt="tranbaquan.me" [style.height.rem]="2"/>
          </a>
          <button type="button" class="icon-btn d-lg-none" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="menu">
            <fa-icon [icon]="isCollapsed ? menuIcon : closeIcon" size="sm"></fa-icon>
          </button>
          <div class="collapse navbar-collapse p-2 p-lg-0" [collapse]="isCollapsed" [isAnimated]="true" id="menu">
            <ul class="navbar-nav ms-auto gap-lg-4 gap-xl-5">
              <li class="nav-item">
                <a href="#home">Home<span></span></a>
              </li>
              <li class="nav-item">
                <a href="#about">About<span></span></a>
              </li>
              <li class="nav-item">
                <a href="#skill">Services<span></span></a>
              </li>
              <li class="nav-item">
                <a href="#skill">Portfolio<span></span></a>
              </li>
              <li class="nav-item">
                <a href="#work">Experience<span></span></a>
              </li>
              <li class="nav-item">
                <a href="#skill">Contact<span></span></a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
<section>
  <qtprofile-home></qtprofile-home>
</section>
