@import 'src/common/color-variables';
@import 'src/common/utils';
@import 'src/common/responsive';

.navbar-section {
  .navbar-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    .navbar {
      padding: 1rem 0;

      .navbar-collapse {
        @include small-than-lg {
          &.show {
            background-color: $color-dark-cyan-300;
          }
        }
      }

      .nav-item {
        position: relative;

        a {
          text-decoration: none;
          color: $color-light-100;
          font-weight: 600;
          padding: 4px 0;

          &:hover {
            color: $color-white;

            span {
              width: 100%;
              background-color: $color-white;
            }
          }

          span {
            width: 0;
            height: 2px;
            background-color: $color-light-100;
            position: absolute;
            bottom: 0;
            left: 0;
            @extend %transition-all;
          }
        }

        @include small-than-lg {
          a {
            width: 100%;
            font-weight: 500;
          }
        }
      }
    }

    &.fixed {
      position: fixed;
      background-color: $color-white;
      box-shadow: 1px 0 5px 0 $color-dark-cyan-100-2;
      @extend %transition-all;

      .navbar-collapse {
        @include small-than-lg {
          &.show {
            background-color: $color-white !important;
          }
        }
      }

      .navbar {
        .nav-item {
          a {
            color: $color-cyan-primary;

            &:hover {
              color: $color-cyan-800;

              span {
                width: 100%;
                background-color: $color-cyan-800;
              }
            }

            span {
              width: 0;
              height: 2px;
              background-color: $color-cyan-800;
              position: absolute;
              bottom: 0;
              left: 0;
              @extend %transition-all;
            }
          }
        }
      }
    }
  }
}
