@import 'src/common/color-variables';
@import 'src/common/utils';
@import 'src/common/responsive';

.header_area {
  .header_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    .navbar {
      padding: 25px 0;
      border-radius: 5px;
      position: relative;

      .navbar-collapse {
        @include small-than-lg {
          padding: 0 10px;
          &.show {
            background-color: $dark-cyan-300;
          }
        }
      }

      .nav-item {
        margin-left: 45px;
        position: relative;

        a {
          text-decoration: none;
          color: $light-100;
          font-weight: 600;
          padding: 4px 0;

          &:hover {
            color: $white;

            span {
              width: 100%;
              background-color: $white;
            }
          }

          span {
            width: 0;
            height: 2px;
            background-color: $light-100;
            position: absolute;
            bottom: 0;
            left: 0;
            @extend %transition-all;
          }
        }

        @include small-than-lg {
          margin: 5px 0;

          a {
            width: 100%;
            font-weight: 500;
          }
        }
      }
    }
  }
}
