@import "src/common/color-variables";
@import "src/common/utils";
@import "src/common/responsive";

.experience-tree {
  position: relative;
  width: 100%;
  height: 100%;

  @include lg {
    .tree {
      width: 4px;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 20px;
      @include translateX(-50%);
      background-color: $color-dark-cyan-100-2;
    }
  }


  .now {
    width: 7px;
    height: 7px;
    position: absolute;
    left: 50%;
    top: 20px;
    @include translateX(-50%);
    background-color: #ffa200;
    border-radius: 50%;
    outline: solid 2px $color-cyan-primary;
    cursor: pointer;
    z-index: 11;

    &:hover {
      width: 9px;
      height: 9px;
    }
  }

  .current-date {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 0.675rem;
    color: $color-dark-cyan-100-5;
    @include translateX(-50%);
  }

  .milestones {
    width: 100%;
    height: 100%;
  }
}
