<div class="min-h-screen flex flex-column surface-ground">
  <div class="surface-overlay py-3 px-5 flex align-items-center justify-content-between relative lg:static">
    <a pRipple class="cursor-pointer inline-flex align-items-center justify-content-center lg:hidden"
       pStyleClass="#travel-sidebar" enterClass="hidden" enterActiveClass="fadeinleft" leaveToClass="hidden"
       leaveActiveClass="fadeoutleft" [hideOnOutsideClick]="true">
      <i class="pi pi-bars"></i>
    </a>
    <img src="assets/images/tbq/tranbaquan_me-light.svg" alt="tranbaquan.me logo" height="32">
    <a pRipple class="cursor-pointer block lg:hidden text-700" pStyleClass="@next" enterClass="hidden"
       leaveToClass="hidden" [hideOnOutsideClick]="true">
      <i class="pi pi-ellipsis-v text-2xl"></i>
    </a>
    <ul
      class="list-none p-3 lg:p-0 m-0 lg:align-items-center select-none flex-column lg:flex-row absolute hidden lg:flex lg:static surface-overlay right-0 top-100 z-1 shadow-2 lg:shadow-none">
      <li class="lg:mr-1">
        <a pRipple
           class="flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 lg:border-circle">
          <i class="pi pi-inbox text-base lg:text-2xl mr-2 lg:mr-0"></i>
          <span class="block lg:hidden font-medium">Inbox</span>
        </a>
      </li>
      <li class="lg:mr-1">
        <a pRipple
           class="flex p-3 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 lg:border-circle">
          <i class="pi pi-bell text-base lg:text-2xl mr-2 lg:mr-0" pBadge severity="danger"></i>
          <span class="block lg:hidden font-medium">Notifications</span>
        </a>
      </li>
      <li class="border-top-1 surface-border lg:border-top-none lg:mt-0 mt-2 lg:pt-0 pt-2">
        <a pRipple
           class="flex p-3 align-items-center hover:surface-100 font-medium border-round cursor-pointer transition-colors transition-duration-150 lg:border-circle">
          <img src="assets/images/blocks/avatars/circle/avatar-f-1.png" class="mr-3 lg:mr-0"
               style="width: 25px; height: 25px"/>
          <div class="block lg:hidden">
            <div class="text-900 font-medium">Josephine Lillard</div>
            <span class="text-600 font-medium text-sm">Marketing Specialist</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <ul
    class="list-none text-color py-3 px-5 m-0 surface-section flex align-items-center font-medium overflow-x-auto border-top-1 border-bottom-1 surface-border">
    <li class="pr-3" routerLink="/">
      <a class="cursor-pointer">
        <i class="pi pi-home"></i>
      </a>
    </li>
    <li class="px-2">
      <i class="pi pi-angle-right"></i>
    </li>
    <ng-container *ngFor="let item of breadcrumbItems; last as last">
      <li class="px-2" [routerLink]="item.routerLink">
        <a class="cursor-pointer white-space-nowrap" [class.text-primary]="last">{{item.label}}</a>
      </li>
      <li *ngIf="!last" class="px-2">
        <i class="pi pi-angle-right"></i>
      </li>
    </ng-container>
  </ul>
  <div class="flex relative lg:static p-5 flex-auto">
    <div id="travel-sidebar"
         class="surface-card hidden lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 select-none shadow-2 sidebar border-round">
      <div class="flex flex-column h-full">
        <div class="overflow-y-auto">
          <div class="p-3">
            <div class="p-input-icon-left w-full">
              <i class="pi pi-search"></i>
              <input type="text" pInputText class="border-1 surface-border w-full searchbar"
                     placeholder="Search">
            </div>
          </div>
          <ul class="list-none px-3 pb-3 pt-0 m-0">
            <li>
              <div class="p-3 flex align-items-center justify-content-between text-color cursor-pointer"
                   pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden"
                   leaveActiveClass="slideup">
                <span class="font-medium">BLOG</span>
                <i class="pi pi-chevron-down"></i>
              </div>
              <ul class="list-none p-0 m-0 overflow-hidden">
                <li routerLink="/blog/travel" routerLinkActive #rla="routerLinkActive">
                  <a pRipple
                     class="flex align-items-center cursor-pointer p-3 hover:surface-50 border-transparent border-right-2"
                     routerLinkActive="bg-primary-50 text-primary border-primary-500"
                     [class.text-color]="!rla.isActive">
                    <fa-icon [icon]="faEarth" class="mr-2"></fa-icon>
                    <span class="font-medium">Travel</span>
                  </a>
                </li>
                <li>
                  <a pRipple
                     class="flex align-items-center cursor-pointer p-3 hover:surface-50 text-color border-transparent border-right-2">
                    <fa-icon [icon]="faMicrochip" class="mr-2"></fa-icon>
                    <span class="font-medium">Technology</span>
                  </a>
                </li>
                <!--                <li>-->
                <!--                  <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent">-->
                <!--                    <i class="pi pi-bookmark mr-2"></i>-->
                <!--                    <span class="font-medium">Bookmarks</span>-->
                <!--                  </a>-->
                <!--                </li>-->
                <!--                <li>-->
                <!--                  <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent"-->
                <!--                     pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden" leaveActiveClass="slideup">-->
                <!--                    <i class="pi pi-chart-line mr-2"></i>-->
                <!--                    <span class="font-medium">Reports</span>-->
                <!--                    <i class="pi pi-chevron-down ml-auto"></i>-->
                <!--                  </a>-->
                <!--                  <ul class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">-->
                <!--                    <li>-->
                <!--                      <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent"-->
                <!--                         pStyleClass="@next" enterClass="hidden" enterActiveClass="slidedown" leaveToClass="hidden" leaveActiveClass="slideup">-->
                <!--                        <i class="pi pi-chart-line mr-2"></i>-->
                <!--                        <span class="font-medium">Revenue</span>-->
                <!--                        <i class="pi pi-chevron-down ml-auto"></i>-->
                <!--                      </a>-->
                <!--                      <ul class="list-none py-0 pl-3 pr-0 m-0 hidden overflow-y-hidden transition-all transition-duration-400 transition-ease-in-out">-->
                <!--                        <li>-->
                <!--                          <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent">-->
                <!--                            <i class="pi pi-table mr-2"></i>-->
                <!--                            <span class="font-medium">View</span>-->
                <!--                          </a>-->
                <!--                        </li>-->
                <!--                        <li>-->
                <!--                          <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent">-->
                <!--                            <i class="pi pi-search mr-2"></i>-->
                <!--                            <span class="font-medium">Search</span>-->
                <!--                          </a>-->
                <!--                        </li>-->
                <!--                      </ul>-->
                <!--                    </li>-->
                <!--                    <li>-->
                <!--                      <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent">-->
                <!--                        <i class="pi pi-chart-line mr-2"></i>-->
                <!--                        <span class="font-medium">Expenses</span>-->
                <!--                      </a>-->
                <!--                    </li>-->
                <!--                  </ul>-->
                <!--                </li>-->
                <!--                <li>-->
                <!--                  <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent">-->
                <!--                    <i class="pi pi-users mr-2"></i>-->
                <!--                    <span class="font-medium">Team</span>-->
                <!--                  </a>-->
                <!--                </li>-->
                <!--                <li>-->
                <!--                  <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent">-->
                <!--                    <i class="pi pi-comments mr-2"></i>-->
                <!--                    <span class="font-medium">Messages</span>-->
                <!--                    <span class="inline-flex align-items-center justify-content-center ml-auto bg-purple-500 text-0 border-circle" style="min-width: 1.5rem; height: 1.5rem">3</span>-->
                <!--                  </a>-->
                <!--                </li>-->
              </ul>
            </li>
          </ul>
          <ul class="list-none p-3 m-0">
            <!--            <li>-->
            <!--              <div class="p-3 flex align-items-center justify-content-between text-600">-->
            <!--                <span class="font-medium text-sm text-900">APPLICATION</span>-->
            <!--              </div>-->
            <!--              <ul class="list-none p-0 m-0 overflow-hidden">-->
            <!--                <li>-->
            <!--                  <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent">-->
            <!--                    <i class="pi pi-folder mr-2"></i>-->
            <!--                    <span class="font-medium">Projects</span>-->
            <!--                  </a>-->
            <!--                </li>-->
            <!--                <li>-->
            <!--                  <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent">-->
            <!--                    <i class="pi pi-chart-bar mr-2"></i>-->
            <!--                    <span class="font-medium">Performance</span>-->
            <!--                  </a>-->
            <!--                </li>-->
            <!--                <li>-->
            <!--                  <a pRipple class="flex align-items-center cursor-pointer p-3 text-700 hover:surface-100 transition-duration-150 transition-colors border-right-2 border-transparent">-->
            <!--                    <i class="pi pi-cog mr-2"></i>-->
            <!--                    <span class="font-medium">Settings</span>-->
            <!--                  </a>-->
            <!--                </li>-->
            <!--              </ul>-->
            <!--            </li>-->
          </ul>
        </div>
      </div>
    </div>
    <div class="flex flex-column flex-auto">
      <div class="border-round shadow-2 surface-section flex-auto lg:ml-5">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
