@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Open+Sans:400,600,700&display=swap');
@import 'color-variables';
@import 'responsive';
@import 'utils';

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;
}

html {
  font-size: 14px;

  @include md {
    font-size: 16px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}

img {
  object-fit: cover;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a {
  color: $dark-cyan-100;
}

a:hover {
  text-decoration: none;
  color: $dark-cyan-300;
}

i,
span,
a {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: $dark-cyan-100;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}

h6 {
  font-size: 0.625rem;
}

p {
  color: $dark-cyan-100;
}

.icon-btn {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  color: $cyan;
  background-color: transparent;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  @extend %transition-all;

  @include lg {
    width: 40px;
    height: 40px;
  }

  &:hover {
    box-shadow: 1px 0 5px 0 $dark-cyan-100-5;
  }
}
