%transition-all {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@mixin translateY($value) {
  -ms-transform: translateY($value);
  transform: translateY($value);
}

@mixin translateX($value) {
  -ms-transform: translateX($value);
  transform: translateX($value);
}

@mixin translate($value) {
  -ms-transform: translate($value, $value);
  transform: translate($value, $value);
}

@mixin translateXY($valueX, $valueY) {
  -ms-transform: translate($valueX, $valueY);
  transform: translate($valueX, $valueY);
}

@mixin skewX($deg) {
  -ms-transform: skewX($deg);
  transform: skewX($deg);
}
