@import 'src/common/color-variables';
@import 'src/common/responsive';
@import 'src/common/utils';

$nav-bar-height: 100px;

.home {
  position: relative;
  overflow: hidden;
  padding-top: $nav-bar-height;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background: $light-100;

  .overlay {
    position: absolute;
    top: 0;
    right: -15%;
    width: 65%;
    height: 100%;
    z-index: 1;
    background-color: $cyan;
    @include skewX(20deg);
  }

  .social {
    position: absolute;
    top: 50%;
    left: 20px;
    border: solid 1px $dark-cyan-100;
    border-radius: 50px;
    @include translateY(-50%);

    li {
      a {
        margin: 20px 0;
        padding: 0 15px;
      }
    }
  }

  .home-main {
    .row {
      height: calc(100vh - $nav-bar-height);
    }

    .avatar-img {
      height: 100%;
      width: 100%;
      position: relative;

      img {
        width: 100%;
        max-width: 550px;
        position: absolute;
        bottom: 0;
        left: 50%;
        @include translateX(-50%);

        @include small-than-lg {
          object-fit: contain;
        }
      }
    }

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      .category {
        font-size: 1.25rem;
        font-weight: 500;
        color: $cyan;
      }

      .title {
        font-size: 2.5rem;
        font-weight: 600;
      }

      .description {
        color: $dark-cyan-100-8;
        text-align: justify;
      }

      .main-btn {
        font-weight: 600;
        white-space: nowrap;
        border: none;
        padding: 0 40px;
        height: 50px;
        border-radius: 25px;
        color: $white;
        background-color: $cyan;
        cursor: pointer;
        -webkit-transition: all 0.4s ease-out 0s;
        -moz-transition: all 0.4s ease-out 0s;
        -ms-transition: all 0.4s ease-out 0s;
        -o-transition: all 0.4s ease-out 0s;
        transition: all 0.4s ease-out 0s;

        &:hover {
          background-color: $cyan-900;
          color: $white;
        }
      }

      @include small-than-lg {
        align-items: center;
        margin-bottom: 20px;
      }
    }
  }
}

.about {
  padding: 100px 0;
  height: 100vh;

  .about-main {
    .category {
      font-size: 1.5rem;
      font-weight: 500;
      color: $cyan;
    }

    .title {
      font-size: 2rem;
      font-weight: 600;
    }

    .description {
      color: $dark-cyan-100-8;
      text-align: justify;
    }

    .separator {
      width: 100px;
      height: 5px;
      background-color: $cyan;
      border-radius: 3px;
    }

    .avatar-img {
      width: 100%;
      height: 100%;
      position: relative;

      @include small-than-lg {
        display: none;
      }

      .circle-frame {
        width: 450px;
        height: 450px;
        position: absolute;
        bottom: 0;
        background-color: transparent;
        border: solid 15px $cyan;

        &.top {
          border-top: none;
        }
      }

      img {
        position: absolute;
        bottom: 0;
        width: 450px;
      }
    }
  }
}
