@import 'src/styles/utils';
@import 'src/styles/responsive';
@import 'src/styles/color-variables';

.nav {
  min-height: 84px;
}

.nav-item {

  &:hover {
    .effect {
      width: 100%;
    }
  }

  .effect {
    @extend %transition-all;
  }

  @include lg {
    .effect {
      width: 0;
      height: 2px;
      background-color: $color-dark-cyan-300;
      position: absolute;
      bottom: -4px;
      left: 0;
    }
  }
}

.circle {
  min-width: 2.5rem;
  min-height: 2.5rem;
}

.line-vertical {
  width: 2px;
  min-height: 4rem;
}

.bg-kms {
  background-color: #26a9e0;
}

.bg-vng {
  background-color: #f37022;
}

.bg-line {
  background-color: #00b900;
}

.gradient {
  border-radius: 1rem;
  background: radial-gradient(100% 1126.49% at 100% 0%, rgba(106, 200, 212, 0.4) 0%, rgba(33, 33, 33, 0) 100%), $color-dark-cyan-100;
}

.cover-img {
  height: 400px;
  top: 0;
  right: 0;
}
