<div class="home">
  <ul class="social d-none d-lg-flex flex-lg-column align-items-lg-center">
    <li>
      <a href="#">
        <fa-icon [icon]="facebookIcon" size="lg"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#">
        <fa-icon [icon]="instagramIcon" size="lg"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#">
        <fa-icon [icon]="linkedinIcon" size="lg"></fa-icon>
      </a>
    </li>
  </ul>
  <div class="container main">
    <div class="row align-items-center justify-content-center justify-content-lg-between">
      <div class="intro col-lg-6">
        <h4 class="mb-2">Hello, I'm</h4>
        <h2 class="mb-2">Quan (Cyan)</h2>
        <p class="mb-5">a Software Engineer at Line Technology Viet Nam.</p>
        <button class="main-btn">View my portfolio</button>
      </div>
      <div class="avatar-img col-lg-6">
        <img src="assets/images/tranbaquan-avatar.png" alt="tranbaquan avatar">
      </div>
    </div>
  </div>
  <div class="overlay d-none d-lg-block"></div>
</div>
